body {
    background-color: #f8f9fa;
    padding: 20px;
  }
  .navbar {
  
    padding: 10px 20px;
    transform:none!important;
    border-bottom: 1px solid grey;

  }
  .full-width-banner {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
  .hero-section {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #212529; 
    color: white;
}
  .custom-width {
    max-width: 100%;
    margin: 0 auto; 
}
  .form-container {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: 0 auto;
    border: 1.5px solid #180505;
    padding-top: 30px;
    height: auto;
  }
  .form-header {
    text-align: center;
    margin-bottom: 30px;
    color: #051125;
  }
  .form-floating {
    margin-bottom: 20px;
  }
  .btn-register, .btn-login {
    border-radius: 0px;
    background-color: #040f20;
    border: none;
    padding: 12px 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s;
  }
  .btn-register:hover, .btn-login:hover {
    background-color: #06101f;
    transform: translateY(-2px);
  }
  .read-more {
    color: #070c11;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .read-more:hover {
    color: #0056b3; 
    text-decoration: underline;
  }

  .form-footer {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    color: #6c757d;
  }
  .password-toggle {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 10;
  }
  .input-group-text {
    background-color: #f8f9fa;
  }

  .custom-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.custom-card .card-img-top {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid black;
}

.custom-card .card-footer {
    border-top: 1px solid black;
    background-color: white;
}

/* requirements */
