{% extends "base.html" %}
{% block content %}
<section>
    <section class="bg-dark text-light py-5 text-center full-width-banner">
        <li class="text-center">
            <a class="" href="{{ url_for('auth.login') }}" style="color: white;">Requiments</a>
        </li>
        <li class="text-center">
             <a class="" href="#" style="color: white;">What to Expect in Military</a>
        </li>
        <li class="text-center ">
             <a class="" href="#" style="color: white;">Application Form</a>
        </li>
        
    </section>
</section>
{% endblock %}
