{% extends "base.html" %}
{% block content %}
<section>
    <section class="bg-dark text-light py-5 text-center full-width-banner">
        <h1 class="display-4">Do you have what it takes?</h1>
        <p class="lead">Take some aptitude tests to find out and more.</p>
    </section>
    
<section>
<div class="container mt-5">
    <div class="row">
        {% for card in cards %}
        <div class="col-md-4 mb-4">
            <div class="custom-card h-100 d-flex flex-column">
                <div class="card-img-top" 
                     style="background-image: url('{{ url_for("static", filename=card.image) }}');">
                </div>
                <div class="p-3 flex-grow-1 d-flex flex-column align-items-center">
                    <h3 class="mb-0 fw-bold">{{ card.title }}</h3><br>
                    <h5 class="mb-0">{{ card.description }}</h5>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center px-3 py-2">
                    <a href={{ card.link }}><span class="fw-bold links read-more">Read More</span></a>
                </div>

<!-- <div class="card-footer d-flex justify-content-between align-items-center px-3 py-2">
                    {% if g.user %}
                        <a href="{{ card.link }}"><span class="fw-bold links read-more">Read More</span></a>
                    {% else %}
                        <span class="text-muted">Login to read more</span>
                    {% endif %}
                </div> -->

            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>
{% endblock %}

